*{margin: 0; padding: 0}
.container{
	width: 80%; margin: 20px auto; height: 200px; background: #ccc
}


.container1{
	display: flex;
	/*flex-direction: row; 기본*/
	flex-direction: row-reverse; 
	justify-content: end;
}
.container2{
	display: flex;
	flex-direction: row; 
	justify-content: space-around; /* 아이템 하나하나의 양옆 여백 동일 */
}
.container3{
	display: flex;
	justify-content: space-evenly; /* 동일한 간격 */
}

.container4{
	display: flex;
	justify-content: space-between; /* 시작과 끝의 여백없이 중간에만 존재 */
}
.container5{
	height: 500px;
	display: flex;
	flex-direction: row;
	flex-direction: column;
	justify-content: space-between; /*  */
}

.container6{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* flex-wrap: wrap-reverse; 화면을 줄일때 순서를 바꿔서 줄어든다.*/
	flex-wrap: wrap;
}

.container7{
	display: flex;
	justify-content: space-between;
	/* flex-wrap: wrap-reverse; 화면을 줄일때 순서를 바꿔서 줄어든다.*/
	flex-flow: column wrap;
}

.container8{
	display: flex;
	/* align-items: center; */
	/* align-items: baseline; */
	align-items: space-between;
}

.container8 .item3{padding: 20px}

.items1{
	display: flex;
	padding-top: 50px
	
}
.items1 .item1{
	order:1;
/* 	flex-grow: 3; */
	/* 기본값이 0, 컨테이너의 값에 맞게 늘었다가 줄어듬.굉장히 중요한 친구 사이즈가 컨테이너보다 작을땐 문제 없으나 컨테이너가 줄어들면 안에 들어있는 사이즈도 같이 줄어듬*/
	/* flex-shrink: 0; */
	flex: 0 0 30%;
}
.items1 .item2{
	order:2;
	
}
.items3{}



.item{
	width: 50px; height: 50px;
}
.item1{
	background: #ff7396
}
.item2{
	background: #ff4cff
}.item3{
	background: #4d4cff
}.item4{
	background: #9326ff
}.item5{
	background: #00ffff
}.item6{
	background: #00ff7f
}.item7{
	background: #c9ff26
}.item8{
	background: #ff794c
}
.item9{
	background: #4d4cff
}.item10{
	background: #ffbf00
}