h1{background:#a300d9; color: white;text-align:center; padding: 10px;}
h2{background:#ff2626; color: white; font-size: 18px; padding: 10px; text-align:center;}
img {display: block; margin: 0px auto; }
a:link{ color: white; text-decoration: none; background-color: black;}
ul{text-align:center;}
p{text-align:center}