*{margin: 0; padding: 0}
/* body{  background: #ffffbf; }
 */
#wrap{text-align: center; font-size: 30px; color: #fff; text-transform: uppercase; }
#header{height: 140px; background: #ffe1e4; line-height:140px;}
#banner{height: 450px; background: #fbd6e3; line-height:450px}
#contents{height: 950px; background: #73dcff; line-height:950px}
#footer{height: 220px; background: #ffbfdf; line-height:220px}

/* 공통속성 */

.container{height: inherit; width: 1100px; margin: 0 auto; background: rgba(0,0,0,0.1)}

@media screen and (max-width:1100px) {
	.container{width: 100%}
}