/* *{margin: 0; padding: 0;}

#wrap{width: 1200px; margin: 0 auto; height: auto;}
header{width: 100%; height: 100px; background: #7396ff}
aside{width: 30%; height: 900px; background: #dc73ff; float:left;}
.article1{float: left; width: 70%; height: 300px; background: #ff73dc}
.article2{float: left; width: 70%; height: 300px; background: #ff73ff}
.article3{float: left; width: 70%; height: 300px; background: #ff73dc}
footer{width: 100%; height: 100px; background: #73ffff; clear: both} 

@media screen and (max-width:1240px) {
    #wrap{width: 100%;}
	.article1{height: 450px; background: #ff73dc}
	.article2{height: 450px; background: #ff73ff}
	.article3{width: 100%; height: 300px; background: #000000; float: none; clear: both;}
}
@media screen and (max-width:768px) {
    aside{width: 100%; height: 100px; float: none;}
	.article1{width: 50%;}
	.article2{width: 50%;}
	
}
@media screen and (max-width:480px) {
    .article1{width: 100%; float: none;}
	.article2{width: 100%; float: none;}
} */



#wrap{width: 1200px; margin: 0 auto; height: auto;}
header{width: 100%; height: 100px; background: #7396ff}
aside{width: 30%; height: 900px; background: #dc73ff; float:left;}
.article1{float: left; width: 70%; height: 300px; background: #ff73dc}
.article2{float: left; width: 70%; height: 300px; background: #ff73ff}
.article3{float: left; width: 70%; height: 300px; background: #ff73dc}
footer{width: 100%; height: 100px; background: #73ffff; clear: both} 


@media screen and (max-width:1240px) {
	#wrap{width:100%}
	.article1{float: left; width: 70%; height: 450px;}
	.article2{float: left; width: 70%; height: 450px;}
	.article3{float: left; width: 100%; height: 100px;}
}
@media screen and (max-width:768px) {
    aside{width: 100%; height: 100px; float: none;}
	.article1{width: 50%;}
	.article2{width: 50%;}
}
@media screen and (max-width:580px) {
    .article1{width: 100%; float: none;}
	.article2{width: 100%; float: none;}
}