.crn_page_btns{position: relative;overflow: hidden;margin-bottom: 40px;}
.crn_page_btns a{display: block;text-align: center;line-height: 70px;background-color: #FFD7D9;font-size: 18px;border-radius:7px ;float: left;width: 49%;margin:0 0.5%;box-sizing:border-box;position: relative;}
.crn_page_btns a.crn_page_btns_bg{background-color: #DAE4EE;}
.crn_page_btns a:after {    content: "";    width: 9px;    height: 9px;    display: inline-block;    vertical-align: middle;    margin-left: 15px;    background: url(/main/common/happy/img/happy/ico_jump.png) no-repeat center center;    letter-spacing: -1px;	}

.new_tbl_board            {clear:both;position:relative;width:100%;border-collapse:collapse;border-top:2px solid #4674bb;border-bottom:1px solid #cdcdcd;background:#fff;font-size:15px;line-height:18px;color:#555}
.new_tbl_board th         {background:#f5f9fc; padding:12px 10px; border:1px solid #cdcdcd; border-left:0; text-align:center; color:#333; font-weight: 600;}
.new_tbl_board th.stats   {background:#f5f9fc; padding:12px 3px; border:1px solid #cdcdcd; border-left:0; text-align:center}
.new_tbl_board th.end     {border-right:0;}
.new_tbl_board td         {color:#666; padding:12px 10px;border:1px solid #cdcdcd; border-left:0; text-align:center; font-size:15px; line-height: 1.5;}

.new_tbl_board td.stats   {color:#666; padding:12px 3px;border:1px solid #cdcdcd; border-left:0; text-align:center;}
.new_tbl_board td.end     {border-right:0;}
.new_tbl_board td.number  {text-align:right;}
.new_tbl_board td.title   {text-align:left;}
.new_tbl_board td.title_comm   {text-align:left;}
.new_tbl_board td.notice   {background-color:#e9ebc4}
.new_tbl_board td.tleft   {text-align:left;}
.new_tbl_board td.r0 {border-right:0;}
.new_tbl_board td hr {border:1px solid #cdcdcd; border-bottom:0; margin:10px 0;}
.new_tbl_board td a{color:#4674bb;text-decoration:none; font-weight: 700;}
.name {color:#4674bb !important; font-weight:700}
.new_tbl_board td a:hover,.new_tbl_board td a:active,.new_tbl_board td a:focus{text-decoration:underline;}
.bo_btn_or{display: inline-block; background:#fd8423; padding: 3px 7px; line-height: 14px; font-size: 12px; color: #fff; border:transparent;}
.bo_btn_gray{display: inline-block; background:#a8a8a8; padding: 3px 7px; line-height: 14px; font-size: 12px; color: #fff; border:transparent;}
.bottom_line {border-bottom:1px solid #cdcdcd;padding:10px;}
.tdl > ul {padding:10px;}
.tdl > ul strong {font-weight:bold;}

.new_tbl_board .file{width:12px;height:15px;background:url(http://www.chungnam.net/images/board/ico_disket_small.gif) no-repeat left top}
.new_tbl_board .pic{width:13px;height:16px;background:url(http://www.chungnam.net/images/board/ico_pic.gif) no-repeat left top}
.new_tbl_board .new{width:10px;height:15px;background:url(http://www.chungnam.net/images/board/ico_new.gif) no-repeat left top}
.new_tbl_board .filedown{width:16px;height:16px;background:url(http://www.chungnam.net/images/board/ico_disket.gif) no-repeat 1px 1px}
.new_tbl_board .hwp{width:16px;height:16px;background:url(http://www.chungnam.net/images/board/file_hwp.gif) no-repeat left top}
.new_tbl_board .doc{width:16px;height:16px;background:url(http://www.chungnam.net/images/board/file_doc.gif) no-repeat left top}
.new_tbl_board .pdf{width:16px;height:16px;background:url(http://www.chungnam.net/images/board/file_pdf.gif) no-repeat left top}
.new_tbl_board .xls{width:16px;height:16px;background:url(http://www.chungnam.net/images/board/file_xls.gif) no-repeat left top}
.new_tbl_board .ppt{width:16px;height:16px;background:url(http://www.chungnam.net/images/board/file_ppt.gif) no-repeat left top}
.new_tbl_board .view{width:16px;height:16px;background:url(http://www.chungnam.net/images/board/magnifier_left.png) no-repeat left top}
.new_tbl_board .pic,.new_tbl_board .new,.new_new_tbl_board .filedown,.new_tbl_board .hwp,.new_tbl_board .doc,.new_tbl_board .pdf,.new_tbl_board .xls,.new_tbl_board .ppt,.new_tbl_board .view,.new_tbl_board .zipcodeSearch,.new_tbl_board .newwindow,.new_tbl_board .icon_date,.new_tbl_board .secret{display:inline-block;margin:0 0 2px;padding-left:3px;font-size:0;line-height:0;vertical-align:middle;cursor:pointer}
.new_tbl_board .file {display:inline-block;margin:0 0 2px;padding-left:3px;font-size:0;line-height:0;vertical-align:middle;}

.fL{ float:left;}
.fR{ float:right;}
.tC{ text-align:center !important;}
.tL{text-align: left !important;}
.tR{ text-align:right !important;}
.tCimportant{ text-align:center !important;}
.tLimportant{text-align: left !important;}
.tRimportant{ text-align:right !important;}
.clear{clear:both; display:block;}
.dBlock{display:block;}
.dIBlock{display:inline-block;}
.hidden{display:none;}
.crn_cont{font-size: 15px;line-height: 1.7;}

.crn_list{border-top: 2px solid #0261B1;padding: 35px 0;}
.crn_list .list_handler {text-align: center; margin-bottom:30px;}
.crn_list .list_handler_msg {text-align: right; margin-bottom:10px;font-size: 13px;}
.crn_list .list_handler button {display:inline-block; vertical-align: top; padding: 0 15px; line-height: 30px;font-size:13px; margin:0 3px 5px; border-radius:25px;}
.crn_list .list_handler button.open {background:#0261B1; color:#fff;}
.crn_list .list_handler button.close {background:#f1f2f3;}
.crn_list .list_head {border-top:1px solid #666;}
.crn_list .list_head > ul:after {content:""; display:block; clear:both;}
.crn_list .list_head > ul > li {display:table; float:left; width:25%; background:#f5f5f5; font-weight:bold; text-align: center; height:50px; border-bottom:1px solid #ccc;}
.crn_list .list_head > ul > li:nth-of-type(1) {width:55%;}
.crn_list .list_head > ul > li:nth-of-type(2) {width:20%;}
.crn_list .list_head > ul > li:nth-of-type(3) {width:10%;}
.crn_list .list_head > ul > li:nth-of-type(4) {width:15%;}
.crn_list .list_head > ul > li > strong {display:table-cell; vertical-align: middle;}
.crn_list .list_body > ul {cursor: pointer; position: relative; overflow:hidden;}
.crn_list .list_body > ul:before {content:"눌러서 펼쳐보기"; display:block; background:rgba(0,0,0,.6); color:#fff; height:50px; text-align: center; font-weight:bold; position: absolute; left:0; top:-50px; right:0; line-height:50px; transition: all 0.3s;}
.crn_list .list_body > ul:not(.active):hover:before,
.crn_list .list_body > ul:not(.active):focus:before {top:0;}
.crn_list .list_body > ul:after {content:""; display:block; clear:both;}

.crn_list .list_body > ul > li:not(.result) {display:table; float:left; width:25%; background:#fff; border-bottom:1px solid #ccc; text-align: center; height:50px;}
.crn_list .list_body > ul > li:nth-of-type(1) {width:55%;}
.crn_list .list_body > ul > li:nth-of-type(2) {width:20%;}
.crn_list .list_body > ul > li:nth-of-type(3) {width:10%;}
.crn_list .list_body > ul > li:nth-of-type(4) {width:15%;}
.crn_list .list_body > ul.active > li:not(.result) {background:#f5f5f5;}
.crn_list .list_body > ul > li > span {display:table-cell; vertical-align: middle;font-size: 15px;}
.crn_list .result {border-bottom:1px solid #ccc; background:#fff; padding:40px 30px 20px; float:none; clear:both; display:none; line-height:1.4;position: relative;}
.crn_list .result::before{display: block;content: '이동경로';position: absolute; left:25px; top:10px;font-size: 12px;border-radius:2.5em;color: #fff;background-color: #06c;width: 65px;line-height: 21px;height: 22px;text-align: center;}

@media all and (max-width:550px){
.crn_list .list_head > ul > li{height: 38px;font-size: 14px;}
.crn_list .list_body > ul > li{font-size: 14px;}
.crn_list .list_body > ul > li:not(.result) {height: 60px;}
.crn_list .list_body > ul:before{height: 60px;top: -60px;line-height: 60px;}
.crn_list .result{padding: 40px 3% 10px;font-size: 14px;}
.crn_list .result::before{left: 1.9%;}
}
@media all and (max-width:380px){
table.new_tbl_board            {width:auto;}
.new_tbl_board th,
.new_tbl_board th.stats,
.new_tbl_board td,
.new_tbl_board td.stats{padding-left: 0;padding-right: 0;font-size: 14px;}
}