@charset "utf-8";
body#happy{ font-family:"NanumBarunGothic",'나눔바른고딕','나눔고딕',sans-serif !important;}
html,body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, form, fieldset, input,strong,em,b,span,a,select,button,textarea { margin:0; padding:0; border:0; list-style:none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);  -webkit-tap-highlight-color:transparent;-webkit-font-smoothing: subpixel-antialiased;-webkit-text-stroke:2px transparent;font-size: 1em;/* line-height:1.0; */letter-spacing:-0.033em;font-family:inherit;font-style: normal;}
a, a:link, a:active,a:focus, a:visited, input:active,input:focus, input:visited,button:active,button:focus, button:visited { color: inherit; text-decoration: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);transition: color 0.25s ease-out;}
/* :focus{ outline:0;border: 0;} */
a:hover { color: inherit; }
legend, caption{height: 1px;width: 1px;position: absolute;font-size: 0;left: -999em;top: -999em;z-index: -1;text-indent: -999em;}
img{font-size: 0;line-height: 0;}
img, fieldset, textarea { border:0; margin:0; padding:0 }
table { width:100%; border-collapse:collapse;border:0 ; empty-cells:show;border-spacing:0;}
td,th{border:0 ; empty-cells:show;border-spacing:0;}
button { border:0; cursor:pointer; overflow:hidden; background:none ; padding:0;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);cursor:pointer;display: inline-block;}
button span {overflow:hidden; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

button,button:focus,button:active{	padding: 0;}
button span{	position: relative;display: block;}

input{  border:0; cursor:pointer; overflow:hidden; background:none ; padding:0;}
header, section, footer,nav,aside { display:block; }


/*iphone*/
input,textarea {    -webkit-appearance: none;    -webkit-border-radius:0;     border-radius:0; border:1px solid #e5e5e5;color:#555A5A; resize:none;}
select {    -webkit-border-radius:0;     border-radius:0;padding:0 ; border:solid 1px #CCC;background:#FFF;  vertical-align:middle;display: inline-block;font-size: 1em;}
input[type="checkbox"],
input[type="radio"] {position:relative; /*top:2px;  */ box-sizing: border-box;   padding:0;display: inline-block;vertical-align: middle;margin: 0;}
input[type="checkbox"]{-webkit-appearance: checkbox;}
input[type="radio"]{-webkit-appearance: radio;-webkit-border-radius:50%}
input{ -webkit-ime-mode: auto;-moz-ime-mode: auto ;-ms-ime-mode: auto ; ime-mode: auto}

textarea{display: block;}
select, input, textarea, button { font-weight: normal; font-family:"NanumBarunGothic",'나눔바른고딕','나눔고딕',sans-serif;}

input[type="button"], button {margin:0; padding:0; border:0; border-radius:1px ; -webkit-border-radius:1px ; -webkit-appearance:none !important; cursor:pointer; }
button, input[type="reset"], input[type="button"], input[type="submit"] {line-height:normal; border:none;}

input[type="text"]::-ms-clear {display:none !important;}
input[type="text"],
input[type="password"],
input[type="tel"] {line-height:1;border-radius:0 !important; -webkit-appearance:none !important; background:#fff; color:#555A5A; text-indent:1px; }

input[type="file"] {line-height:1;background:#fff;  color:#555A5A; cursor:pointer;}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {color:#000 !important;}
input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {color:#999 !important;}

input:disabled {background:#f1f1f1;}
input[readonly="readonly"], input[readonly],
input[disabled="disabled"], input[disabled] {border:1px solid #e5e5e5; background:#f1f1f1; color:#555A5A; text-indent:1px ;}
select[disabled] {border:1px solid #e5e5e5; background:#f1f1f1; color:#555A5A;}



 /*ready*/
.sorry{background:#fff url('../img/happy/page_sorry.jpg') center 40% no-repeat; border: 2px dashed #ccc; border-radius:15px ;height:300px; text-indent:-9999em; margin-bottom: 0;width: auto;padding-top:350px;}
.hide { position:absolute; width:0px; height:0px; font-size:0px; margin:0px; padding:0px; line-height:0px; overflow:hidden; z-index:-1; /*visibility:hidden; */left:-1px; top:-1px }
.txtHide{ text-indent: 100%; white-space: nowrap; overflow: hidden; color:transparent;}
.flt { float:left ;display:block;}
.frt { float:right;display:block; }
.wrp { overflow:hidden; }
.clr,.clear { clear:both;position: relative; }
.clr::after{display: block;content: '';clear: both;}
.right{ text-align:right}
.left{ text-align:left}
.center{ text-align:center}
.ellips{overflow:hidden; white-space:nowrap; text-overflow:ellipsis; display:block;}
.unit{text-align:right;}
.unit:after{}

.unit_wrap{position:relative;}
.unit_wrap .unit{position:absolute;top:0;right:0;margin-top:0;float:none;}
.gap{letter-spacing:-1px;}
.wwr{word-wrap:break-word;}
.wbr{word-break: break-all;}
.d-b{display: block;}
.d-i{display: inline;}
.d-ib{display: inline-block;}

.skip{position: absolute;top: 0;left: 0;width:100%}
.skip a{position:absolute; display:block; width:100%; left:0; text-align:center; top:-50px;left:0; z-index:999;}
.skip a:hover,
.skip a:focus,
.skip a:active{position: absolute; top: 0;left:0; padding: 5px 0; font-weight:bold; color:#fff; background:#36F;width:100%;}

/* 스킵네비 */
#skipnav {margin: 0; padding:0; }
#skipnav a {display:block;overflow:hidden;position:absolute;left:0;top:-10000px;}
#skipnav a:hover,#skipnav a:focus,#skipnav a:active {padding:15px 0;background-color:#039;color:#fff;font-size:120%;width:100%;text-align:center;top:0px;z-index:500;text-decoration: underline;}
#skip{text-indent: -999em;height: 0;width: 0;position: absolute;left: -999em;z-index: -1;top: -120px;}

.pl0{padding-left:0px !important;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}

.pr10{padding-right: 10px;}
.pr20{padding-right: 20px;}


.pt0{padding-top: 0;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pl15{padding-left:15px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt50{padding-top:50px;}

/* margin size */
.mb0{margin-bottom:0px !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb60{margin-bottom:60px;}
.mb70{margin-bottom:70px;}
.mb90{margin-bottom:70px;}

.pb0{padding-bottom:0px ;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb70{padding-bottom:70px;}
.pb80{padding-bottom:80px;}

.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}
.mt35{margin-top: 35px;}
.mt40{margin-top: 40px;}
.mt45{margin-top: 45px;}
.mt50{margin-top: 50px;}

.mt10{margin-top:10px;}
.mt25{margin-top:25px;}
.mt0{margin-top:0px;}
.mr0{margin-right:0;}

.ml0{margin-left: 0;}
.ml{margin-left: 3px;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.ml25{margin-left: 25px;}
.ml30{margin-left: 30px;}
.ml35{margin-left: 35px;}
.ml40{margin-left: 40px;}
.ml50{margin-left: 50px;}


.lh15{line-height:150%;}
.lh18{line-height:180%;}
.lh20{line-height:200%;}
.lh19{line-height:190%}
.lh20 *{line-height:200%;}


/* Font*/
.c_12{font-size:0.933em;}
.c_11{font-size:0.867em;}
.c_10{font-size:0.800em;}
.fz12{font-size:12px}
.fz13{font-size:13px}
.fz14{font-size:14px}
.fz15{font-size:15px}
.fz16{font-size:16px}
.fz18{font-size:18px}
.fz30{font-size: 30px;}
.c_blue {color:#0f4da9 }
.c_sky{color:#0393cf;}
.c_green{color:#0e847c;}
.c_red {color:#ce0c0c }
.c_yl {color:#f29200 !important;}
.c_yg{color: #66993d}
.c_brown{color: #906947;}
.c_orange {color:#f45600 }
.c_purple {color:#8048b4 }
.c_gray {color:#676767 !important;}
.c_k {color:#000 !important}
.ff_ver{font-family: 'verdana';}
.ff_arl{font-family: 'arial';}
.fw-n{font-weight: normal;}
.fw-b{font-weight: bold;}
a.uline, .uline, .uline *{text-decoration:underline;}

.space{display:inline-block;}
.space.w20{width:22px;}
.space.w30{width:28px;}
.space.w42{width:42px;}

.bdb{border-bottom: solid 1px #d9d9d9 !important;}
.bdt{border-top: solid 1px #d9d9d9;}

.slick-slide {display: none;}
.slick-slide:first-child {display: block;}
.slick-initialized .slick-slide {display: block; }
.slick-dots{bottom:0}

/*********
mobile y/N
**********/
	span.all_br,span.br_all{display: block;}
	.desk_x{display: none;}
	.desk_o{display: block;}
	div.m_pc_x{display: none;}

	span.m_o,
	.m_o,
	div.m_o{display: none;}
	.m_s_o{display: none;}
	span._br,
	span.br{display:block;}
	span.br_m,span.m_br{display:inline}
	img.m_o{display: none;}
	.img img,
	.img{font-size: 0;line-height: 0;display: block;}
	.imgX img,
	img.imgX {display:block;width:auto;margin: 0 auto;font-size: 0;line-height: 0;text-align: center;max-width: 100%;}
	.imgX img.m_o{display: none;}

@media all and (max-width:1024px){
.desk_x{display: block;}
.desk_o{display: none;}

}
@media all and (max-width:812px) {

	span.m_o,
	.m_o,
	div.m_o{display: block;}
	img.m_o{display: block;}
	img.m_x{display: none;}
	.m_x{display: none;}
	span._br{display:none;line-height:0;}
	span.m_s_x{display:none}
	span.br_m,	span.m_br{display:block}
	.img img,
	.img{width: 100%;}
	.imgX img,
	img.imgX {display:block;width:100%;margin: 0 auto;}
	span.m_br2{display: none;}
	.imgX2 img,
	img.imgX2 {display:block;width:87%;margin: 0 auto;}
	.imgX img.m_x{display: none;}
	.imgX img.m_o{display: block; position:relative; height:50%;}
	.imgX.mb90{margin-bottom: 30px;}
	.pb80{padding-bottom:40px;}

}

@media all and (max-width:450px) {
	body {  /* font-size:1em; */ font-size: 15px;}
	span.br{display: none;}
	.m_s_o,
	span.m_br2{display: block;}
	.imgX2 img,	img.imgX2 {display:block;}
	.sorry{background-size:60%; height:140px;font-size: 16px;padding-top: 170px; margin-bottom: 0; /* margin: 0px;line-height: 0;font-size: 0;padding: 0; */}
}
@media all and (max-width:360px) {
}
/*contents_2014.css */
.ct_fc02 .right{ text-align:left}

