/* swiper */

.swiper-container {
  width: 910px; height: 500px; position: relative;
  float: left; 
  margin-right: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* 스킵메뉴 */
#skip {
  z-index: 4;
  position: relative;
  width: 100%;
  height: auto;
  font-size: 0;
}
#skip a {
  display: block;
  padding: 0;
  font-size: 0;
  text-align: center;
  color: #fff;
  background: #000;
}
#skip a:focus {
  padding: 20px;
  font-size: 16px;
}

body {    font-family: "NanumBarunGothic",'나눔바른고딕','나눔고딕',sans-serif !important;
}
#header {
  width: 100%;
  height: auto;
  position: relative;
}

/* 공통 속성 */
.container {
  width: 1400px;
  height: inherit;
  margin: 0 auto;
}
.fl{float: left;}



.top {
  width: 100%;
  border-bottom: 1px solid #ccc;
  height: 35px;
  position: relative;
  margin: 0 auto;
}
.top > .container > ul > li > a {
  display: block;
  height: 35px;
  font-size: 12px;
  line-height: 36px;
  text-align: center;
  padding: 0 18px;
  position: relative;
  color: #555;
  transition: all 0.25s ease-out;
  margin-left: -4px;
}
.top > .container > ul > li:hover > a {
  background: rgb(90, 118, 243);
  color: white;
}
.to1 {
  float: left;
}
.to2 {
  float: right;
  margin: 0;
}

.to1 > li,
.to2 > li {
  display: inline-block;
  position: relative;
}
.to1 > li::before,
.to2 > .to2-li::before {
  content: "|";
  float: right;
  margin-top: 10px;
  margin-right: -1.5px;
}
.to2 > li > #my-box {
  padding: 0 39px 0 20px;
  position: relative;
  background-color: #e02218;
  color: #fff;
  height: 36px;
  text-align: left;
}

.to2 > li > #my-box::after{
  content: "";
  border: 4px solid #fff;
  border-bottom: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  height: auto;
  width: auto; 
}
.to2 > li:hover > #my-box::after{
  border: 4px solid #fff;
  border-top: 0;
  border-left-color: transparent;
  border-right-color: transparent;
}
.to2 > li > .mys-box {
  display: none;
  position: absolute;
  top: 36px;
  left: -4px;
  width: 116px;
  background-color: #e02218;
  color: #fff;
  border-radius: 0 0 9px 9px;
  overflow: hidden;
}
.to2 > li:hover > .mys-box {
  display: block;
  z-index: 3;
}
.to2 > li > .mys-box > ul {
  padding: 7px 10px;
  position: relative;
}

.to2 > li > .mys-box > ul > li {
  display: block;
  margin-left: 0;
}
.to2 > li > .mys-box > ul > li > a {
  padding: 5px 13px;
  color: #fff;
  text-align: left;
  line-height: 10px;
  font-size: 11px;
}

/* serch */

.serch-box {
  height: 50px;
  width: 610px;
  margin: 0 auto;
  padding: 10px 25px 0;
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  box-shadow: 0 -2px 15px rgb(0 0 0 / 20%);
  position: relative;
  top: 40px;
}
.serch-box > form {
  background: #7878f7;
  
}
.serch-box > form > .input1 {
  border: 0;
  background-color: #fff;
  float: left;
  display: block;
  width: 85%;
  padding: 0;
  height: 49px;
  line-height: 100%;
  color: #111;
  font-size: 18px;
  border-bottom: 1px solid #ccc;

}
  

.serch-box > form > .input2 {
  float: left;
  display: block;
  height: 40px;
  width: 50px;
  border: none;
  background: url(../icon/finder_btn.gif) no-repeat 0 0;
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
}
.serch-box > .input3 {
  display: block;
  float: right;
  height: 36px;
  width: 40px;
  background: url(../icon/serch-nav.gif) no-repeat 0 0;
  margin-top: 13px;
  border-bottom: 1px solid #ccc;
}

/* menu */

.menu{width:100%; background: white; overflow: hidden;}
.gnb-img{float: left; margin-right: 5%; margin-top: 30px;}
.gnb-img>a{
  display: block;
}
.bg-menu{ width: 60%;
  float: left;
  height: 94px;
  z-index: 20;}

.bg-menu>li{
  float: left;
  letter-spacing: 0;
  width: auto;}
  
.bg-menu>li>.drop-container{
  position: absolute;
  text-align: left;
  top: 130px;
  left: 0;
  right: 0;
  padding: 28px 0;
  display: none;
  background-color: #FFF;
  color: #000;
  border-top: 1px solid #ddd;
  z-index: 13;
}
.bg-menu>li.active1>.drop-container{
  display: block;
}

.bg-menu>li>h3>a{
  width: auto;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  display: block;
  height: 94px;
  line-height: 94px;
  text-align: center;
  padding: 0 33px;
}

.bg-menu>li>.drop-container>.sub-inner{
   max-width: 1400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.drop-container>.sub-inner>.sub-text{
  position: absolute;
  top: 0;
  left: 2%;
  bottom: 0;
  width: 15%;
}
.drop-container>.sub-inner>.sub-text>img{
  height: 130px;
    width: auto;
}
.drop-container>.sub-inner>.sub-menu{
  overflow: hidden;
  width: 83%;
  margin-left: 16%;
  min-height: 280px;
}
.drop-container>.sub-inner>.sub-menu>li{
  float: left;
  width: 13.5%;
  position: relative;
  padding: 2%;
}


.drop-container>.sub-inner>.sub-menu>li>h4{
  font-size: 16px;
  margin-bottom: 11px;
  font-weight: 400;
  border-bottom: 1px solid #666;
}
.drop-container>.sub-inner>.sub-menu>li>h4>a{
  padding: 0 0 15px 10px;
  letter-spacing: -1px;
}

.sub-menu>li>ul>li>a{
  display: inline-block;
  padding: 7px 0 7px 10px;
  font-size: 15px;
  position: relative;
  line-height: 1.3;
  font-weight: 300;
  color: black;
}




/* 분야별 정보 */

.nav-link > .nav-icon {
  width: 1200px;
  height: inherit;
  padding: 30px 0;
  text-align: right;
  margin-right: 10px;
}

 .nav-link > .nav-icon > li {
  width: 130px;
  height: 50px;
  border: 1px solid #ccc;
  float: left;
  margin: 10px 10px;
}
.nav-link > .nav-icon > li > a {
  display: inline-block;
  width: 70px;
  height: 50px;
  margin-left: -8px;
}

.nav-link > .nav-icon > .hico1:hover,
.nav-link > .nav-icon > .hico2:hover,
.nav-link > .nav-icon > .hico3:hover,
.nav-link > .nav-icon > .hico4:hover,
.nav-link > .nav-icon > .hico5:hover,
.nav-link > .nav-icon > .hico6:hover,
.nav-link > .nav-icon > .hico7:hover,
.nav-link > .nav-icon > .hico8:hover,
.nav-link > .nav-icon > .hico9:hover,
.nav-link > .nav-icon > .hico10:hover,
.nav-link > .nav-icon > .hico11:hover,
.nav-link > .nav-icon > .hico12:hover,
.nav-link > .nav-icon > .hico13:hover,
.nav-link > .nav-icon > .hico14:hover {
  width: 130px;
  height: 50px;
  background-position: 0 -5px;
}

.nav-link > .nav-icon > .hico1 {
  background: url(../icon/hico-1.jpg) no-repeat 0 -65px;
}

.nav-link > .nav-icon > .hico2 {
  background: url(../icon/hico-2.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico3 {
  background: url(../icon/hico-3.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico4 {
  background: url(../icon/hico-4.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico5 {
  background: url(../icon/hico-5.jpg) no-repeat 0 -60px;
}
.nav-link > .nav-icon > .hico6 {
  background: url(../icon/hico-6.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico7 {
  background: url(../icon/hico-7.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico8 {
  background: url(../icon/hico-8.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico9 {
  background: url(../icon/hico-9.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico10 {
  background: url(../icon/hico-10.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico11 {
  background: url(../icon/hico-11.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico12 {
  background: url(../icon/hico-12.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico13 {
  background: url(../icon/hico-13.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico14 {
  background: url(../icon/hico-14.jpg) no-repeat 0 -65px;
}

/* 날씨 */

#weather {
  width: auto;
  float: right;  
  margin-top: 20px;
}

.weather > .weather-c {
  display: inline-block;
  font-size: 30px;
}
.weather > li {
  float: left;
  margin: 0 8px;
}

.weather > li > p {
  width: 150px;
  height: 50px;
}

/* 검색바 */

.serch {
  height: 100px;
  width: 100%;
  background-image: url(../img/back.jpg);
}
.text-box {
  width: 500px;
  height: 50px;
}

/* find-key */

.find-key {
  width: 610px;
  height: 41px;
  margin: 10px auto;
}

.find-key > dl {
  display: block;
  margin: 10px 5px 0 10px;
}
.find-key > dl > dt {
  margin-left: -20px;
  margin-right: 15px;
  float: left;
}
.find-key > dl > dd {
  display: block;
  float: left;
}
.find-key > dl > dd > a {
  display: inline-block;
  font-size: 12px;
  margin-right: 20px;
}

/* banner */

/* .slide{position: absolute; right: 5px; bottom: 10px; color: white ;z-index: 10;
  background: #ccc; font-size: 0.8em;width: 10%; 
  box-sizing: border-box; height: 5%; border-top-left-radius: 10px;border-top-right-radius: 11px;} 
.slide-icon, .slide-page, */

#popup{
  display: block;
  color: white;

}
.slide-menu{padding: 4px; box-sizing: border-box; width: 50px; height: 20px; 
background-color: red; position: absolute; right: 0; bottom: 0; z-index: 9999;
text-align: center; line-height: 7px;}

#banner {
  height: 700px;
} 
.img .newWindow{
  width: 100vw; height: 100vh; background: rgba(0,0,0,.3);
}
.container2 {
  width: 470px;
  height: 280px;
  float: left;
  margin-bottom: 10px;
}

/* 팝업 */
#full {
  display: none;
  padding: 20px 60px;
  border-radius: 3px;
}
#full>p{
  color: #fff;
  font-size: 30px;
  line-height: 1.3;
  font-weight: 300;
  text-align: center;
  margin-bottom: 100px;
}
#full>ul>li{
  float: left;
  padding: 10px;
  box-sizing: border-box;
}
#full>ul>li>a{display: block; }
#full>ul>li>a>img{display: block; width: 480px; height: 300px;}

#full>.close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 100px;
  height: 100px;
  color: white;
  font-size: 40px;
}

/* news-box */

.news-box {
  width: 470px;
  height: 40px;
  background-color: rgb(168, 177, 255);
  border-radius: 5px;
  margin-bottom: 15px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.news-box > dt {
  width: 20%;
  display: inline-block;
  float: left;
  font-size: 15px;
  color: white;
  line-height: 40px;
  border-right: 1px solid white;
  margin-left: 15px;
}
.news-box>.news-box-icon{
  display: inline-block;
  width: 15%;
  height: auto;
  position: absolute;
  right: 10px;
  top: 0;
  text-align: right;
}

.news-box>.news-box-icon>.next,.news-box>.news-box-icon>.prev,.news-box>.news-box-icon>.pause{

  border: none;
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

.news-box>.news-box-icon>.next{
  background: url(../icon/aro2_btn_next.gif) no-repeat center;
}
.news-box>.news-box-icon>.pause{
  background: url(../icon/aro2_btn_stop.gif) no-repeat center;
}
.news-box>.news-box-icon>.prev{
  background: url(../icon/aro2_btn_prev.gif) no-repeat center;
}

.news-box>.news-box-text{
  width: 50%;
  height: inherit;
  float: left;
}
/* slide */
.news-box-text>.slick-track{
  width: 100%;
  height: 100%;
  position: relative;
}
.news-box-text>.slick-track>.slick-slid{
  width: 100%;
  height: 100%;
  line-height: 40px;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.news-box-text>.slick-track>.slick-slid>a{
  color: #fff;
}
.news-box-text>.slick-track>.slick-slid.active{
  transition: all 0.3s ease-in;
  display: block;
}


.container2 > h3 {
  font-size: 18px;
  float: left;
  margin-bottom: 10px;
  font-weight: 400;
}
.container2 > p {
  color: #333;
  font-size: 15px;
  float: right;
  padding-top: 3px;
  font-weight: 300;
}

/* news-table */

.container2 > .news-table {
  width: 100%;
  height: 180px;
  clear: both;
  line-height: 40px;
}
.container2 .news-table>ul> li {
  float: left;
  width: 50%;
}
.container2 .news-table> ul> li> a {
  display: block;
  font-size: 15px;
  color: #333;
  line-height: 45px;
  height: 44px;
  padding: 0 14% 0 9%;
  position: relative;
  border: 1px solid #d8d8d8;
  margin-left: -1px;
  margin-bottom: -1px;
  transition: all .3s ease-out;
}

.container2 .news-table>ul> li >a:hover{
  color: #1599E4;
  z-index: 3;
  padding-left: 12%;
  border-color: #1599E4;
}

.container2 .news-table>ul> li >a::after{
  border-style: solid;
  border-color: #333;
  border-width: 0 1px 1px 0;
  display: block;
  padding: 3px;
  transform: rotate(-45deg);
  position: absolute;
  top: 41%;
  right: 10%;
  content: '';
  transition: all .3s ease-out;
}
.container2 .news-table>ul> li >a:hover:after{
  border-color: #1599E4;
  right: 12%;
}

.img2 {
  width: 33%;
  height: 211px;
  float: left;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}

/* 아이콘 */

.banner-link {
  height: 118px;
  width: 100%;
  clear: both;
  margin-top: 20px;
  padding: 30px 0;
  text-align: center;
  margin-left: 10px;
  position: relative;
}
.banner-link > .banner-icon {
  position: relative;
}
.banner-link > .banner-icon > li {
  float: left;
  padding-right: 20px;
}
.banner-link .banner-icon > li > a {
  float: left;
  width: 65px;
  height: 50px;
  padding-top: 85px;
  margin-left: -12px;
}

.banner-icon > .hico1::after,
.banner-icon > .hico2::after,
.banner-icon > .hico3::after,
.banner-icon > .hico4::after,
.banner-icon > .hico5::after,
.banner-icon > .hico6::after,
.banner-icon > .hico7::after,
.banner-icon > .hico8::after,
.banner-icon > .hico9::after,
.banner-icon > .hico10::after,
.banner-icon > .hico11::after,
.banner-icon > .hico12::after,
.banner-icon > .hico13::after,
.banner-icon > .hico14::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 20%;
  transition: all 0.3s;
}
.banner-icon > .hico1:hover:after,
.banner-icon > .hico2:hover:after,
.banner-icon > .hico3:hover:after,
.banner-icon > .hico4:hover:after,
.banner-icon > .hico5:hover:after,
.banner-icon > .hico6:hover:after,
.banner-icon > .hico7:hover:after,
.banner-icon > .hico8:hover:after,
.banner-icon > .hico9:hover:after,
.banner-icon > .hico10:hover:after,
.banner-icon > .hico11:hover:after,
.banner-icon > .hico12:hover:after,
.banner-icon > .hico13:hover:after,
.banner-icon > .hico14:hover:after {
  width: 50px;
  left: -5px;
}

.banner-link > .banner-icon > .hico1:hover,
.banner-link > .banner-icon > .hico2:hover,
.banner-link > .banner-icon > .hico3:hover,
.banner-link > .banner-icon > .hico4:hover,
.banner-link > .banner-icon > .hico5:hover,
.banner-link > .banner-icon > .hico6:hover,
.banner-link > .banner-icon > .hico7:hover,
.banner-link > .banner-icon > .hico8:hover,
.banner-link > .banner-icon > .hico9:hover,
.banner-link > .banner-icon > .hico10:hover,
.banner-link > .banner-icon > .hico11:hover,
.banner-link > .banner-icon > .hico12:hover,
.banner-link > .banner-icon > .hico13:hover,
.banner-link > .banner-icon > .hico14:hover {
  width: 60px;
  height: 55px;
  background-position: 0 -7px;
}

.banner-link > .banner-icon > .hico1,
.banner-link > .banner-icon > .hico2,
.banner-link > .banner-icon > .hico3,
.banner-link > .banner-icon > .hico4,
.banner-link > .banner-icon > .hico5,
.banner-link > .banner-icon > .hico6,
.banner-link > .banner-icon > .hico7,
.banner-link > .banner-icon > .hico8,
.banner-link > .banner-icon > .hico9,
.banner-link > .banner-icon > .hico10,
.banner-link > .banner-icon > .hico11,
.banner-link > .banner-icon > .hico12,
.banner-link > .banner-icon > .hico13,
.banner-link > .banner-icon > .hico14 {
  width: 50px;
  height: 70px;
  margin: 10px 10px;
  position: relative;
  transition: all 0.2s;
}

.banner-link > .banner-icon > .hico1 {
  background: url(../icon/hico-1.jpg) no-repeat 0 -60px;
  width: 60px;
  height: 60px;
  display: block;
}
.banner-link > .banner-icon > .hico2 {
  background: url(../icon/hico-2.jpg) no-repeat 0 -60px;
  width: 60px;
  height: 60px;
  display: block;
}
.banner-link > .banner-icon > .hico3 {
  background: url(../icon/hico-3.jpg) no-repeat 0 -60px;
  width: 60px;
  height: 60px;
  display: block;
}
.banner-link > .banner-icon > .hico4 {
  background: url(../icon/hico-4.jpg) no-repeat 0 -63px;
  width: 60px;
  height: 60px;
  display: block;
}
.banner-link > .banner-icon > .hico5 {
  background: url(../icon/hico-5.jpg) no-repeat 0 -59px;
  width: 60px;
  height: 60px;
  display: block;
}
.banner-link > .banner-icon > .hico6 {
  background: url(../icon/hico-6.jpg) no-repeat 0 -60px;
  width: 60px;
  height: 60px;
  display: block;
}
.banner-link > .banner-icon > .hico7 {
  background: url(../icon/hico-7.jpg) no-repeat 0 -60px;
  width: 60px;
  height: 60px;
  display: block;
}
.banner-link > .banner-icon > .hico8 {
  background: url(../icon/hico-8.jpg) no-repeat 0 -60px;
  width: 60px;
  height: 60px;
  display: block;
}
.banner-link > .banner-icon > .hico9 {
  background: url(../icon/hico-9.jpg) no-repeat 0 -60px;
  width: 60px;
  height: 60px;
  display: block;
}
.banner-link > .banner-icon > .hico10 {
  background: url(../icon/hico-10.jpg) no-repeat 0 -60px;
  width: 60px;
  height: 60px;
  display: block;
}
.banner-link > .banner-icon > .hico11 {
  background: url(../icon/hico-11.jpg) no-repeat 0 -60px;
  width: 60px;
  height: 60px;
  display: block;
}
.banner-link > .banner-icon > .hico12 {
  background: url(../icon/hico-12.jpg) no-repeat 0 -60px;
  width: 60px;
  height: 60px;
  display: block;
}
.banner-link > .banner-icon > .hico13 {
  background: url(../icon/hico-13.jpg) no-repeat 0 -60px;
  width: 60px;
  height: 60px;
  display: block;
}
.banner-link > .banner-icon > .hico14 {
  background: url(../icon/hico-14.jpg) no-repeat 0 -60px;
  width: 60px;
  height: 60px;
  display: block;
}

/* bottom_post */

#bottom_post {
  width: 100%;
  height: 880px;
  margin: 20px 0;
  background: rgba(85, 85, 85, 0.2);
  padding: 20px 0;
}

.ban2-1 {
  width: 910px;
  height: 280px;
  float: left;
  margin: 0 auto;
}
.tab-link {
  overflow: hidden;
  width: 900px;
  border-bottom: 2px solid #ccc;
}
.tab-link > h2 > a {
  color: #4d4af3;
  float: left;
  display: block;
  width: auto;
  height: inherit;
  font-size: 20px;
  font-weight: bold;
  margin-right: 7px;
}
.tab-link > h3 {
  float: left;
  font-size: 20px;
}
.tab-link > h3 a {
  display: block;
  width: 140px;
  height: 38px;
}
.tab-link > h3 a i {
  line-height: 30px;
}
.tap-last {
  margin-right: 130px;
}

/* icon */

.icon {
  width: 100px;
  float: left;
  margin-left: 20px;
  margin-top: 7px;
}

/* tab-box */

.tab-box-full{
  overflow: hidden;
  position: relative;
  height: inherit;
}
.tab-box {
  position: absolute;
  left: 0;
  width: 3000px;
  height: 280px;
}
.tab-box1 {
  width: 260px;
  height: 218px;
  line-height: 1;
  float: left;
  margin-top: 30px;
  margin-right: 50px;
}
.tab-box > .tab-box1 > a {
  display: block;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  padding: 20px 7% 20px 7%;
  position: relative;
  height: 158px;
  overflow: hidden;
  transition: 0.25s ease-out;
  margin-bottom: 30px;
  line-height: 1;
  height: 137px;
  transition: all 0.3s;
}
.tab-box > .tab-box1 > a:hover{
  border-color: #4d4af3;
  color: black;
}
.tab-box > .tab-box1 > a > b {
  font-size: 18px;
  font-weight: 400;
  margin: 14px 0;
  float: left;
}
.tab-box > .tab-box1 > a > .tab-text {
  width: 53px;
  height: 23px;
  font-size: 15px;
  color: #fff;
  line-height: 23px;
  margin-bottom: 18px;
  background-color: #111;
  text-align: center;
}
.tab-box > .tab-box1 > a > .tab-when {
  font-style: normal;
  font-size: 13px;
  color: #666;
  position: absolute;
  bottom: 25px;
  left: 7%;
}
.banimg {
  width: 450px;
  height: 280px;
  float: right;
}

/* bottom-post1*/
.post-title {
  height: 30px;
  border-bottom: 2px solid rgb(136, 136, 136);
}
.bottom-post1{
  width: 48%;
  height: 65%;
  float: left;
  margin-right: 25px;
  margin-top: 25px;
  overflow: hidden;
}

.bottom-post2{
  float: left;
  width: 48%;
  height: 65%;
  margin-top: 25px;
  margin-left: 30px;
  overflow: hidden;
}
.post-title1 > a {
  color: #4d4af3;
  font-weight: bold;
}
.post-title1,
.post-title2 {
  font-size: 20px;
  height: 36px;
  float: left;
}
.icon {
  float: right;
  width: auto;
}
.post-cont1,
.post-cont2 {
  width: 684px;
  height: 542px;
  overflow: hidden;
  position: relative;
}
.post1-box1,
.post1-box2,
.post2-box1,
.post2-box2 {
  width: 330px;
  height: 542px;
  float: left;
  margin-right: 10px;
  overflow: hidden;
}
.box-img {
  width: 320px;
  height: 205px;
  float: left;
  overflow: hidden;
}
.box-text{
  width: 320px;
  height: 38px;
  background: #fff;
  float: left;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 43px;
  padding: 0 4%;
  box-sizing: border-box;
  font-weight: 400;
}
.box-img > b{
  display: block;
  width: 320px;
  height: 50px;
}

.box-img > a > img {
  display: block;
  width: 320px;
  height: 205px;
  overflow: hidden;
}
.box-img > a > img:hover {
  transform: scale(1.3) rotate(5deg);
  transition: all 0.3s;
}

.post-title2 > h1 {
  font-size: 1em;
  display: inline-block;
  
}
.post-title2 > a {
  display: inline-block;
}

/* 주요 서비스 */

#service {
  width: 100%;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.sev-box1 {
  height: 50px;
}
.sev-box1 > .sev-tit {
  float: left;
  line-height: 40px;
  top: 0;
  left: 0;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}

.sev-box1 > ul>li{
  position: relative;
  left: 50px;
}
.sev-box1 > ul >li::after{
  content: "";
  width: 0;
  height: 3px;
  background-color: #005ead;
  position: absolute;
  top: 0;
  left: 38%;
}
.sev-box1 >ul >li:hover:after{
  width: 20px;
}

.sev-box1> ul>li:hover>a{
  color: #005ead;
}


.sev-box1 > .sev-text > li {
  float: left;
}
.sev-box1 > .sev-text > li > a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0 15px;
}

/* bottom1 */

#bottom1 {
  height: 450px;
  margin-top: 40px;
  position: relative;
}
.bot-tit > h3 {
  display: inline-block;
  font-size: 28px;
  font-weight: 400;
}
.bot-tit > p {
  display: inline;
}

.bot-back1 {
  width: 700px;
  height: 360px;
  float: left;
}
.bot-box {
  width: 300px;
  height: 318px;
  float: left;
  border: 1px solid #ccc;
  padding-left: 40px;
  padding-top: 40px;
  position: relative;
}
.bot-box > em {
  color: blue;
}
.bot-box > .b1 {
  font-weight: 400;
  font-size: 30px;
  margin-top: 20px;
  display: inline-block;
  margin-bottom: 10px;
}
.bot-box > .b2 {
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
}

.bot-back2 {
  width: 328px;
  height: 360px;
  float: right;
}

.bot-box > .bot-btn{
  display: block;
  color: #fff;
  background-color: #005ead;
  text-align: center;
  font-size: 15px;
  line-height: 35px;
  width: 140px;
  position: absolute;
  bottom: 29%;
  left: 11.79%;
}

/* bottom 2 */

.bottom2 {
  width: 100%;
  height: 150px;
}
.bottom2 > ul > li {
  float: left;
  width: 230px;
  height: 80px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 80px;
  margin-left: -1px;
  transition: all 0.3s;
}
.bottom2 > ul > li:hover{
  background-color: rgb(127, 124, 251);
}

.bottom2 > ul > li > a {
  display: block;
  float: left;
}
.bottom2 > ul > li > a > img {
  display: inline-block;
  margin-right: 8px;
}

.bottom2 > ul > li > .tico1,
.bottom2 > ul > li > .tico2,
.bottom2 > ul > li > .tico3,
.bottom2 > ul > li > .tico4,
.bottom2 > ul > li > .tico5,
.bottom2 > ul > li > .tico6 {
  display: block;
  width: 50px;
  height: 50px;
  transition : all 1s;
  transform-origin: 50% 75%;
}
.bottom2 > ul > li:hover > .tico1,
.bottom2 > ul > li:hover > .tico2,
.bottom2 > ul > li:hover > .tico3,
.bottom2 > ul > li:hover > .tico4,
.bottom2 > ul > li:hover > .tico5,
.bottom2 > ul > li:hover > .tico6 {
  transform: rotate(360deg);
}
.bottom2 > ul > li:hover > a,
.bottom2 > ul > li:hover > a,
.bottom2 > ul > li:hover > a,
.bottom2 > ul > li:hover > a,
.bottom2 > ul > li:hover > a,
.bottom2 > ul > li:hover > a {
  color: white;
}

.bottom2 > ul > li > .tico1{
  background: url(../icon/tico_1.png) no-repeat center bottom;
}
.bottom2 > ul > li > .tico2 {
  background: url(../icon/tico_2.png) no-repeat center bottom;
}
.bottom2 > ul > li > .tico3 {
  background: url(../icon/tico_3.png) no-repeat center bottom;
}
.bottom2 > ul > li > .tico4 {
  background: url(../icon/tico_4.png) no-repeat center bottom;
}
.bottom2 > ul > li > .tico5 {
  background: url(../icon/tico_5.png) no-repeat center bottom;
}
.bottom2 > ul > li > .tico6 {
  background: url(../icon/tico_6.png) no-repeat center bottom;
}


.bottom2 > ul > li:hover > .tico1{
  background: url(../icon/tico_o_1.png) no-repeat center bottom;
}
.bottom2 > ul > li:hover > .tico2{
  background: url(../icon/tico_o_2.png) no-repeat center bottom;
} 
.bottom2 > ul > li:hover > .tico3{
  background: url(../icon/tico_o_3.png) no-repeat center bottom;
} 
.bottom2 > ul > li:hover > .tico4{
  background: url(../icon/tico_o_4.png) no-repeat center bottom;
} 
.bottom2 > ul > li:hover > .tico5{
  background: url(../icon/tico_o_5.png) no-repeat center bottom;
} 
.bottom2 > ul > li:hover > .tico6{
  background: url(../icon/tico_o_6.png) no-repeat center bottom;
} 

/* foot */

#foot {
  height: 400px;
  width: 100%;
  z-index: -4;
}

.foot-link {
  width: 100%;
  height: 60px;
  position: relative;
  background: #ccc;
}
.foot-link > ul {
  width: 1400px;
  margin: 0 auto;
}
.foot-link > ul > li {
  width: 277px;
  height: 60px;
  border: 1px solid white;
  float: left;
  line-height: 60px;
}
.foot-link > ul > li > h3 {
  margin-left: 20px;
}


.foot-link>ul>li>.push-container{
  background-color: #252525;
  position: absolute;
  bottom: 60px;
  text-align: left;
  left: 0;
  z-index: 2;
  right: 0;
  padding: 35px 0;
  display: none;
}
.foot-link>ul>li.active>.push-container{
  display: block;
}
.foot-sev {
  height: 30px;
  margin: 0 0 22px;
  padding: 16px 0;
  border-bottom: 1px solid #ccc;
}
.foot-sev > .container > .foot-rast1 {
  height: 100px;
}
.foot-rast1 > ul > li {
  float: left;
}
.foot-rast1 > ul > li > a {
  padding: 0 24px;
}

.foot-rast1 > .foot-sns {
  float: right;
}
.foot-sev > .container > .foot-last2 {
  height: 80px;
}
.foot-last2 > .foot-add {
  float: left;
}
.foot-last2 > .foot-logo {
  float: right;
}

.push-container>.wrapper{
  margin: 0 auto;
  width: auto;
  max-width: 1400px;
  position: relative;
  line-height: 1.0;
}

.push-container>.wrapper>.foot-box{
  float: left;
  width: 19%;
  position: relative;
  padding-right: 1%;
}

.push-container>.wrapper>.foot-box> h4 {
  color: #ccc;
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 10px;
  background-color: #333;
  line-height: 36px;
  height: 35px;
  padding-left: 10px;
}


.push-container>.wrapper>.foot-box> ul>li>a{
  display: block;
  padding: 8px 10px;
  line-height: 1.3;
  font-size: 15px;
  color: #CCC;
  font-weight: 300;
  letter-spacing: 0;
}
