
/* 스킵메뉴 */
#skip {
  z-index: 4;
  position: relative;
  width: 100%;
  height: auto;
  font-size: 0;
}
#skip a {
  display: block;
  padding: 0;
  font-size: 0;
  text-align: center;
  color: #fff;
  background: #000;
}
#skip a:focus {
  padding: 20px;
  font-size: 16px;
}

body {    font-family: "NanumBarunGothic",'나눔바른고딕','나눔고딕',sans-serif !important;
}
#header {
  width: 100%;
  height: auto;
  position: relative;
}

/* 공통 속성 */
.container {
  width: 1400px;
  height: inherit;
  margin: 0 auto;
}
.fl{float: left;}



.top {
  width: 100%;
  border-bottom: 1px solid #ccc;
  height: 35px;
  position: relative;
  margin: 0 auto;
}
.top > .container > ul > li > a {
  display: block;
  height: 35px;
  font-size: 12px;
  line-height: 36px;
  text-align: center;
  padding: 0 18px;
  position: relative;
  color: #555;
  transition: all 0.25s ease-out;
  margin-left: -4px;
}
.top > .container > ul > li:hover > a {
  background: rgb(90, 118, 243);
  color: white;
}
.to1 {
  float: left;
}
.to2 {
  float: right;
  margin: 0;
}

.to1 > li,
.to2 > li {
  display: inline-block;
  position: relative;
}
.to1 > li::before,
.to2 > .to2-li::before {
  content: "|";
  float: right;
  margin-top: 10px;
  padding-left: 6px;
}
.to2 > li > #my-box {
  padding: 0 39px 0 20px;
  position: relative;
  background-color: #e02218;
  color: #fff;
  height: 36px;
  text-align: left;
}

.to2 > li > #my-box::after{
  content: "";
  border: 4px solid #fff;
  border-bottom: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  height: auto;
  width: auto; 
}
.to2 > li:hover > #my-box::after{
  border: 4px solid #fff;
  border-top: 0;
  border-left-color: transparent;
  border-right-color: transparent;
}
.to2 > li > .mys-box {
  display: none;
  position: absolute;
  top: 36px;
  left: -4px;
  width: 116px;
  background-color: #e02218;
  color: #fff;
  border-radius: 0 0 9px 9px;
  overflow: hidden;
}
.to2 > li:hover > .mys-box {
  display: block;
  z-index: 3;
}
.to2 > li > .mys-box > ul {
  padding: 7px 10px;
  position: relative;
}

.to2 > li > .mys-box > ul > li {
  display: block;
  margin-left: 0;
}
.to2 > li > .mys-box > ul > li > a {
  padding: 5px 13px;
  color: #fff;
  text-align: left;
  line-height: 10px;
  font-size: 11px;
}

/* serch */

.serch-box {
  height: 50px;
  width: 610px;
  margin: 0 auto;
  padding: 10px 25px 0;
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  box-shadow: 0 -2px 15px rgb(0 0 0 / 20%);
  position: relative;
  top: 40px;
}
.serch-box > form {
  background: #7878f7;
  
}
.serch-box > form > .input1 {
  border: 0;
  background-color: #fff;
  float: left;
  display: block;
  width: 85%;
  padding: 0;
  height: 49px;
  line-height: 100%;
  color: #111;
  font-size: 18px;
  border-bottom: 1px solid #ccc;

}
  

.serch-box > form > .input2 {
  float: left;
  display: block;
  height: 40px;
  width: 50px;
  border: none;
  background: url(../icon/finder_btn.gif) no-repeat 0 0;
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
}
.serch-box > .input3 {
  display: block;
  float: right;
  height: 36px;
  width: 40px;
  background: url(../icon/serch-nav.gif) no-repeat 0 0;
  margin-top: 13px;
  border-bottom: 1px solid #ccc;
}

/* menu */

.menu{width:100%; background: white; overflow: hidden;}
.gnb-img{float: left; margin-right: 10%; margin-top: 30px;}
.gnb-img>a{
  display: block;
}
.bg-menu{ width: 52%;
  float: left;
  height: 94px;
  z-index: 20;}

.bg-menu>li{
  float: left;
  letter-spacing: 0;
  width: auto;}
  
.bg-menu>li>.drop-container{
  position: absolute;
  text-align: left;
  top: 130px;
  left: 0;
  right: 0;
  padding: 28px 0;
  display: none;
  background-color: #FFF;
  color: #000;
  border-top: 1px solid #ddd;
  z-index: 13;
}
.bg-menu>li.active1>.drop-container{
  display: block;
}

.bg-menu>li>h3>a{
  width: auto;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  display: block;
  height: 94px;
  line-height: 94px;
  text-align: center;
  padding: 0 33px;
}

.bg-menu>li>.drop-container>.sub-inner{
   max-width: 1400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.drop-container>.sub-inner>.sub-text{
  position: absolute;
  top: 0;
  left: 2%;
  bottom: 0;
  width: 15%;
}
.drop-container>.sub-inner>.sub-text>img{
  height: 130px;
    width: auto;
}
.drop-container>.sub-inner>.sub-menu{
  overflow: hidden;
  width: 83%;
  margin-left: 16%;
  min-height: 280px;
}
.drop-container>.sub-inner>.sub-menu>li{
  float: left;
  width: 13.5%;
  position: relative;
  padding: 2%;
}
.drop-container>.sub-inner>.sub-menu>li>h4{
  font-size: 16px;
  margin-bottom: 11px;
  font-weight: 400;
  border-bottom: 1px solid #666;
}
.drop-container>.sub-inner>.sub-menu>li>h4>a{
  padding: 0 0 15px 10px;
  letter-spacing: -1px;
}

.sub-menu>li>ul>li>a{
  display: inline-block;
  padding: 7px 0 7px 10px;
  font-size: 15px;
  position: relative;
  line-height: 1.3;
  font-weight: 300;
  color: black;
}




/* 분야별 정보 */

.nav-link > .nav-icon {
  width: 1200px;
  height: inherit;
  padding: 30px 0;
  text-align: right;
  margin-right: 10px;
}

 .nav-link > .nav-icon > li {
  width: 130px;
  height: 50px;
  border: 1px solid #ccc;
  float: left;
  margin: 10px 10px;
}
.nav-link > .nav-icon > li > a {
  display: inline-block;
  width: 70px;
  height: 50px;
  margin-left: -8px;
}

.nav-link > .nav-icon > .hico1:hover,
.nav-link > .nav-icon > .hico2:hover,
.nav-link > .nav-icon > .hico3:hover,
.nav-link > .nav-icon > .hico4:hover,
.nav-link > .nav-icon > .hico5:hover,
.nav-link > .nav-icon > .hico6:hover,
.nav-link > .nav-icon > .hico7:hover,
.nav-link > .nav-icon > .hico8:hover,
.nav-link > .nav-icon > .hico9:hover,
.nav-link > .nav-icon > .hico10:hover,
.nav-link > .nav-icon > .hico11:hover,
.nav-link > .nav-icon > .hico12:hover,
.nav-link > .nav-icon > .hico13:hover,
.nav-link > .nav-icon > .hico14:hover {
  width: 130px;
  height: 50px;
  background-position: 0 -5px;
}

.nav-link > .nav-icon > .hico1 {
  background: url(../icon/hico-1.jpg) no-repeat 0 -65px;
}

.nav-link > .nav-icon > .hico2 {
  background: url(../icon/hico-2.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico3 {
  background: url(../icon/hico-3.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico4 {
  background: url(../icon/hico-4.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico5 {
  background: url(../icon/hico-5.jpg) no-repeat 0 -60px;
}
.nav-link > .nav-icon > .hico6 {
  background: url(../icon/hico-6.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico7 {
  background: url(../icon/hico-7.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico8 {
  background: url(../icon/hico-8.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico9 {
  background: url(../icon/hico-9.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico10 {
  background: url(../icon/hico-10.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico11 {
  background: url(../icon/hico-11.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico12 {
  background: url(../icon/hico-12.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico13 {
  background: url(../icon/hico-13.jpg) no-repeat 0 -65px;
}
.nav-link > .nav-icon > .hico14 {
  background: url(../icon/hico-14.jpg) no-repeat 0 -65px;
}

/* 날씨 */

#weather {
  width: auto;
  float: right;  
  margin-top: 20px;
}

.weather > .weather-c {
  display: inline-block;
  font-size: 30px;
}
.weather > li {
  float: left;
  margin: 0 8px;
}

.weather > li > p {
  width: 150px;
  height: 50px;
}

/* 검색바 */

.serch {
  height: 100px;
  width: 100%;
  background-image: url(../img/back.jpg);
}
.text-box {
  width: 500px;
  height: 50px;
}

/*wrap*/

#wrap{
  margin-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

/* side-nav */

#side-nav {
  width: 180px;
  height: 410px;
  padding-top: 64px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  margin-right: 70px;
}
.side-menu{
  height: inherit;
}
.side-menu>h2{    
  font-size: 23px;
  font-weight: 300;
  border-bottom: 2px solid #7f7f7f;
  height: 50px;
  line-height: 1;
}
.side-menu>ul{
  position: relative;
}
.side-menu>ul>li{
  padding: 7px;
}

.tit .btn{position: absolute; width: 60px; height: 60px;
  background: url(../img/icon.png) no-repeat 0 -600px; top: 5px; right: 0;}
.tit .btn.on{background-position: 0 -660px;}

.side-menu>ul>li>a>#but1{
  background: url(../icon/ico_plus.gif) no-repeat;
  position: absolute;
  right: 10px;
  top: 55px;
  width: 10px;
  height: 10px;
}
.side-menu>ul>li>a>#but2{
  background: url(../icon/ico_plus.gif) no-repeat;
  position: absolute;
  right: 10px;
  top: 100px;
  width: 10px;
  height: 10px;
}
.side-menu>ul>li>a>#but3{
  background: url(../icon/ico_plus.gif) no-repeat;
  position: absolute;
  right: 10px;
  top: 145px;
  width: 10px;
  height: 10px;
}
.side-menu>ul>li>a>#but4{
  background: url(../icon/ico_plus.gif) no-repeat;
  position: absolute;
  right: 10px;
  top: 190px;
  width: 10px;
  height: 10px;
}
.side-menu>ul>li>a>#but5{
  background: url(../icon/ico_plus.gif) no-repeat;
  position: absolute;
  right: 10px;
  top: 280px;
  width: 10px;
  height: 10px;
}
.side-menu>ul>li>a>#but6{
  background: url(../icon/ico_plus.gif) no-repeat;
  position: absolute;
  right: 10px;
  top: 325px;
  width: 10px;
  height: 10px;
}
.side-menu>ul>li>a>#but7{
  background: url(../icon/ico_plus.gif) no-repeat;
  position: absolute;
  right: 10px;
  top: 370px;
  width: 10px;
  height: 10px;
}
.side-menu>ul>li>a>#but8{
  background: url(../icon/ico_plus.gif) no-repeat;
  position: absolute;
  right: 10px;
  top: 415px;
  width: 10px;
  height: 10px;
}



.side-menu>ul>li>a{
  display: block;
  font-size: 16px;
  padding-bottom: 5px;
}
.side-menu>ul>li>a>img{
  display: block;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}
.side-menu>ul>li{
  
  border-top: 1px solid #ccc;
}
.side-menu>ul>li>ul>.first-ch{
  border-top: 1px solid #ccc;
}
.side-menu>ul>.list-last{
  border-bottom: 1px solid #ccc;
}
.side-menu>ul>li>ul>li{
    display: none;
    position: relative;
    padding: 7px 0 10px;
    margin-top: -2px;
  }

.side-menu>ul>li:hover>ul>li{
  display: block;
}


/*page title*/

.page-title {
  text-align: center;
}
.page-title > h2 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 10px;
}
.page-title > p {
  margin-bottom: 50px;
}



/* page-info */

.page-info {
  width: 900px;
  height: 50px;
  border-top: 1px solid black;
  border-bottom: 0.5px solid black;
  margin-bottom: 30px;
}
.page-info > dl{
  float: left;
}
.page-info > dl > dd {
  display: inline-block;
  padding: 12px 10px;
}
.page-info > dl > dd>img{
  margin-right: 7px;
  line-height: 50px;
}
.page-info > .page-icon > a{
  display: block;
  float: right;
  line-height: 60px;
  margin-right: 5px;
}



/*main*/

#main {
  width: 900px;
  height: 2000px;  
  position: absolute;
  top: 0;
  left: 300px;
  z-index: -2;
}

/* main-middle */

.main-h3{
  width: auto;
  background: #257C9E;
  color: #fff;
  padding: 5px 15px;
  border: 1px solid #056C04;
  border-radius: 15px;
  display: inline-block;
  margin-bottom: 15px;
  box-shadow: 5px 5px 2px #b2b2b2;
}

.main-ban{
  border: 1px solid black;
  box-sizing: border-box;
  width: 820px;
  display: block;
  margin: 0 0 30px 20px;
}

/* art*/

.art-h4{
  clear: both;
  margin: 10px 10px 10px 0;
  font-size: 15px;
  color: #333;
  font-weight: bold;
}
.art-h4>img{
  margin-right: 10px;
}
.art-p{
  margin: 0 0 22px 10px;
  padding: 0 0 0 25px;
  font-size: 13px;
}
.art-h5{
  margin: 0 0 5px;
  padding: 0 0 0 25px;
  font-weight: bold;
  color: #237297;
}
.art-h5>img{
  margin-right: 5px;
}
.art-ul>li{
  padding: 0 0 0 25px;
}
.art-ul-ul>li{
    padding: 0 0 0 25px;
}
/* foot */

#foot {
  position: relative;
  top: 2400px;
  height: 400px;
  width: 100%;
  z-index: -4;
}

.foot-link {
  width: 100%;
  height: 60px;
  position: relative;
  background: #ccc;
}
.foot-link > ul {
  width: 1400px;
  margin: 0 auto;
}
.foot-link > ul > li {
  width: 277px;
  height: 60px;
  border: 1px solid white;
  float: left;
  line-height: 60px;
}
.foot-link > ul > li > h3 {
  margin-left: 20px;
}


.foot-link>ul>li>.push-container{
  background-color: #252525;
  position: absolute;
  bottom: 60px;
  text-align: left;
  left: 0;
  z-index: 9999;
  right: 0;
  padding: 35px 0;
  display: none;
}
.foot-link>ul>li.active>.push-container{
  display: block;
}
.foot-sev {
  height: 30px;
  margin: 0 0 22px;
  padding: 16px 0;
  border-bottom: 1px solid #ccc;
}
.foot-sev > .container > .foot-rast1 {
  height: 100px;
}
.foot-rast1 > ul > li {
  float: left;
}
.foot-rast1 > ul > li > a {
  padding: 0 24px;
}

.foot-rast1 > .foot-sns {
  float: right;
}
.foot-sev > .container > .foot-last2 {
  height: 80px;
}
.foot-last2 > .foot-add {
  float: left;
}
.foot-last2 > .foot-logo {
  float: right;
}

.push-container>.wrapper{
  margin: 0 auto;
  width: auto;
  max-width: 1400px;
  position: relative;
  line-height: 1.0;
}

.push-container>.wrapper>.foot-box{
  float: left;
  width: 19%;
  position: relative;
  padding-right: 1%;
}

.push-container>.wrapper>.foot-box> h4 {
  color: #ccc;
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 10px;
  background-color: #333;
  line-height: 36px;
  height: 35px;
  padding-left: 10px;
}


.push-container>.wrapper>.foot-box> ul>li>a{
  display: block;
  padding: 8px 10px;
  line-height: 1.3;
  font-size: 15px;
  color: #CCC;
  font-weight: 300;
  letter-spacing: 0;
}
