*{margin:0; padding:0}

/* 공통 */
.container{width: 360px; height: inherit; margin: 0 auto; clear: both;}
li{list-style: none;}
a{text-decoration: none; color: black;}
img{border-radius: 5px;}

/* header */

header{border-bottom: 1px solid #ccc; background: rgb(245, 245, 245);}
.nav{display: flex; justify-content: space-between;}
.watch{
    padding: 5px;
}
.header_icons{display: flex;}
.header_icons>li{ padding: 5px;}

/* login */

#login_title{   
    height: inherit;
    position: absolute;
    top: 18%; 
    left: 50%;
    transform: translate(-50%,-50%);
}
#login_title>h1{
    font-size: 40px;
}
#login{
    position: relative;
    top: 150px;
}

#login>form>ul{
    width: 100%;
    position: absolute;
    height: inherit;
    top: 350px;
}
form input{
    padding: 4px;
    width: 97%;
    margin-top: 3px;
    margin-bottom: 5px;
}
form .ema{
    width: 46%;
    box-sizing: border-box;
}
form .ema:nth-child(2){
    float: right;
}
form h2{
    margin-bottom: 5px;
}
#login>form>ul>li>input{
    width: 100%;
    height: inherit;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 5px;
    border-style: none;
    border-bottom: 1px solid #ccc;
}
#login_btn{
    position: absolute;
    top: 330px;
}
#login_btn>button{
    width: 360px;
    height: 50px;
    border-style: none;
    border-radius: 15px;
    background-color: rgb(168, 168, 168);
    color: white;
    margin-bottom: 5px;
}
form>p{
    position: absolute;
    top: 85%;
    margin-left: 35px;
}
form>p>a{
    color: blue;
}
