<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/r_layout04.css"/>
</head>
<body>
	<div id="wrap">
		<header></header>
		<nav></nav>
		<aside></aside>
		<article>
			<div class="con1"></div>
			<div class="con2"></div>
		</article>
		<section>
			<div class="container1"></div>
			<div class="container1-1"></div>
			<div class="container1-2"></div>
		</section>
		<section>
			<div id="sec">
				<div class="container2"></div>
				<div class="container2-1"></div>
				<div class="container2-2"></div>
				<div class="container2-3"></div>
			</div>
		</section>
		<footer></footer>
	</div>
</body>
</html>