<!doctype html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
   <title>반응형 레이아웃</title>
   <link rel="stylesheet" href="css/to.css"/>
</head>
<body>
   <div id="wrap">
      <header id="header"></header>
      <section id="banner"></section>
      <section id="content1">
         <nav class="nav"></nav>
         <article class="article-right1"></article>
         <article class="article-right2"></article>
      </section>
      <section id="content2">
         <article class="article-box1"></article>
         <article class="article-box2"></article>
         <article class="article-box3"></article>
      </section>
      <section id="content3">
         <article class="article-square1"></article>
         <article class="article-square1"></article>
         <article class="article-square1"></article>
         <article class="article-square1"></article>
      </section>
      <footer id="footer"></footer>
   </div>
</body>
</html>